@model IEnumerable<IdentityNLayer.Models.TeacherModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkToProfile)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Teachers" asp-action="Edit" asp-route-id="@item.Id">@item.User.FirstName @item.User.LastName</a>
                </td>
                <td>
                    <a href="@item.LinkToProfile">@item.LinkToProfile</a>
                </td>
            </tr>
        }
    </tbody>
</table>
