@model IEnumerable<IdentityNLayer.Models.TeacherModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkToProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    <a href="@item.LinkToProfile">@item.LinkToProfile</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"> | Edit |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
