@model IEnumerable<IdentityNLayer.Models.StudentModel>
@using IdentityNLayer.Core.Entities
@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Group
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.Id">@item.FirstName @item.LastName</a>
            </td>   
            <td>
                @if (ViewBag.studentService.GetStudentGroups(item.Id) != null) foreach (var en in ViewBag.studentService.GetStudentGroups(item.Id))
                    {
                       <a asp-controller="Groups" asp-action="Edit" asp-route-id="@en.Id">@en.Number</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
