@model IEnumerable<CourseModel>
@using IdentityNLayer.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject IdentityNLayer.BLL.Interfaces.ICourseService courseService
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                Requests
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Title);
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        courseService.GetStudentRequests((int)item.Id);
                    }
                    else
                    {
                        Dictionary<string, string> courseId = new Dictionary<string, string> { { "courseId", item.Id.ToString() } };
                        @if (!courseService.HasRequest(item.Id, userManager.GetUserAsync(Context.User).Result.Id, UserRoles.Student))
                        {
                            <a asp-controller="Students" asp-all-route-data="courseId"
                               asp-action="SendRequest">Student Request</a>
                        }
                        else
                        {
                            <span>Student Request Has Been Sent ||</span>
                        }
                        @if (!courseService.HasRequest(item.Id, userManager.GetUserAsync(Context.User).Result.Id, UserRoles.Teacher))
                        {
                            <a asp-controller="Teachers" asp-all-route-data="courseId"
                               asp-action="SendRequest">Teacher Request</a>
                        }
                        else
                        {
                            <span>Teacher Request Has Been Sent</span>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
