@model IdentityNLayer.Models.GroupModel
@inject IdentityNLayer.BLL.Interfaces.IGroupService groupService
@inject IdentityNLayer.BLL.Interfaces.IStudentService studentService
@inject IdentityNLayer.BLL.Interfaces.IGroupLessonService groupLessonService
@inject IdentityNLayer.BLL.Interfaces.IMethodistService managerService

@using AutoMapper
@inject IMapper mapper
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
@if (User.IsInRole("Admin"))
{
    <a asp-controller="Groups" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-warning">
        Delete Group
    </a>
}
<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@await groupService.GetAvailableStatusAsync(Model.Id)"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TeacherRequests</label>
                @if ((await groupService.GetTeachers(Model.Id)).Any())
                {
                    SelectList list = new(mapper.Map<IEnumerable<TeacherModel>>(await groupService.GetTeachers(Model.Id)), "Id", "Name");
                    if ((await groupService.GetCurrentTeacher(Model.Id)) != null)
                        list = new(mapper.Map<IEnumerable<TeacherModel>>(await groupService.GetTeachers(Model.Id)),
                            "Id", "Name", (await groupService.GetCurrentTeacher(Model.Id)).Id);
                    @Html.DropDownListFor(model => model.TeacherId, list, "Teacher is not selected...");
                }
                else
                {
                    <span>No Teacher Requests</span>
                }
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label class="control-label">Methodist</label>
                    @if ((await managerService.GetAllAsync()).Any() && User.IsInRole("Admin"))
                    {
                        @Html.DropDownListFor(model => model.MethodistId,
                             new SelectList(
                                mapper.Map<IEnumerable<MethodistModel>>(await managerService.GetAllAsync()),
                                    "Id", "Name"), "Methodist is not selected...")
                    }
                    else
                    {
                        <span>No Methodists</span>
                    }
                </div>
            }
            <div class="form-group">
                <label asp-for="StudentRequests" class="control-label"></label>
                @for (int i = 0; i < (await groupService.GetStudents(Model.Id)).Count(); ++i)
                {
                    <input type="hidden" asp-for="@Model.StudentRequests[i].UserId" />
                    <input type="hidden" asp-for="@Model.StudentRequests[i].UserName" />
                    <span>
                        @Html.CheckBoxFor(m => m.StudentRequests[i].Applied)
                        <a asp-controller="Students" asp-action="Edit" asp-route-id="@((await studentService.GetByUserId(Model.StudentRequests[i].UserId)).Id)">
                            @Model.StudentRequests[i].UserName
                        </a>
                    </span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="form-group col-md-4">
        @if (Model.Course.Lessons.Any())
        {
            <a asp-controller="Lessons" asp-action="EditGroupLessons" value="" asp-route-groupId="@Model.Id" class="btn btn-primary">
                Manage Lessons
            </a>
        }
        else
        {
            <a asp-controller="Lessons" asp-action="Create" class="btn btn-primary" asp-route-courseId="@Model.CourseId">Create Lessons</a>
        }
    </div>
    <div class="form-group col-md-4">
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
