@model IEnumerable<GroupModel>

@{
    ViewData["Title"] = "Groups";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Link To Teacher Profile
            </th>
            <th>
                Link To Methodist Contact
            </th>   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @{ 
                string action = "Details";
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Methodist"))
            {
                action = "Edit";
            }
            <td>
                <a asp-controller="Groups" asp-action="@action" asp-route-id="@item.Id.ToString()">@Html.DisplayFor(modelItem => item.Number)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a href="@item.Teacher?.LinkToProfile">@item.Teacher?.User.FirstName @item.Teacher?.User.LastName</a>
            </td>
            <td>
                <a href="@item.Methodist?.LinkToContact">@item.Methodist?.User.FirstName @item.Methodist?.User.LastName</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details </a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id"> | Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
